/* Light theme (default) */
:root {
	--accent-color-normal: #c4b5fd;
	--accent-color-hover: #8b5cf6;

	--main-bg: #1e1e1e;
	--side-bg: #262626;

	--text-color: #ffffff;
	--text-color-active: var(var(--accent-color-hover));

	--gray: #9b9b9b;
	--dark-gray: #f0f0f0;
	--side-hover: #3b3b3b;
	--side-active: #373737;
	--side-active-shadow: var(--accent-color-hover);

	--task-hover: #262626;

	--button-theme-bg: var(--accent-color-hover);
	--button-cancel-bg: var(var(--side-hover));

	--primary-font: "Josefin Sans";

	--hr-color: rgba(255, 255, 255, 0.174);
}

:root[data-theme="light"] {
	--accent-color-normal: #ff9696;
	--accent-color-hover: #ff5050;

	--main-bg: #fff5f5;
	--side-bg: #ffe8e8;

	--text-color: #000000;

	--side-hover: #ddd;
	--side-active: #f0fff5;

	--task-hover: #ff9696;

	--button-theme-bg: var(--accent-color-hover);
	--button-gray-bg: var(var(--side-hover));

	--hr-color: rgba(0, 0, 0, 0.503);
}

body {
	/* min-height: 100vh; */
	display: grid;
	grid-template-columns: 280px 1fr;
	grid-template-rows: minmax(100vh, max-content) 1fr;
	color: var(--text-color);
	font-family: var(--primary-font);
}

svg {
	fill: var(--accent-color-normal);
}
svg:hover {
	fill: var(--accent-color-hover);
}

.side-bar {
	background-color: var(--side-bg);
	padding: 0.7rem 0.7rem 1rem;
}

.side-top,
.side-bottom-head {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.7rem;
}
.side-top {
	margin-bottom: 2.4rem;
}

.side-top > div,
.side-bottom-head > * {
	display: flex;
	align-items: center;
	gap: 10px;
	font-weight: 700;
}

.top2px {
	position: relative;
	top: 2px;
}

.side-row {
	display: flex;
	align-items: center;
	gap: 10px;
	width: 100%;
	padding: 0.4rem 0.7rem;
	border-radius: 0.3rem;
	border: none;
	background-color: inherit;
	color: inherit;
	margin-bottom: 0.5rem;

	font-weight: 400;
	font-size: 14px;
}

.side-row:hover {
	background-color: var(--side-hover);
}

.side-row.tab:focus {
	background-color: var(--side-active);
	box-shadow: 0 0 0 1px var(--side-active-shadow);
	color: var(--accent-color-hover);
}

.side-row.tab:focus > svg {
	fill: var(--accent-color-hover);
}

hr {
	border: 1px solid var(--hr-color);
	margin-top: 2rem;
}

.side-bottom-head {
	margin-bottom: 1rem;
}

.main-content {
	background-color: var(--main-bg);
	grid-row: 1/3;
	grid-column: 2/3;
}

/* * {
	outline: 1px solid red;
} */

/* body {
	font-family: "Josefin Sans";
	display: grid;
	grid-template-columns: 280px 1fr;
	min-height: 100vh;
}

.side-bar {
	padding: 1.5rem;
}

.side-head {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	font-size: 1rem;
	font-weight: 700;
	margin: 4px 0 4rem 0;
} */

/* display: grid;
grid-template-columns: auto auto; */
/* align-items: center; */
/* .side-head > div {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.4rem;
}

.side-row {
	font-weight: 400;
	font-size: 14px;
	display: flex;
	gap: 0.8rem;
	justify-content: flex-start;
	align-items: center;
	margin-bottom: 1.2rem;
} */
